@using ProjeCV.Models.Entity
@model List<TBLAWARDS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Konferans", FormMethod.Get))
{
    <p>
        @Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>KONFERANSLAR</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <th>@x.ID</th>
            <td>@x.AWARD</td>
            <td>@Html.ActionLink("Sil", "KonferansSil", new { id = x.ID }, new { @class = "btn btn-warning", onclick = "return confirm('Silmek istiyor musunuz?')" })</td>
            <td><a href="/Konferans/KonferansGetir/@x.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
            }
    </tbody>
</table>
<a href="/Konferans/YeniKonferans" class="btn btn-info">Yeni Konferans Ekle</a>


